@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: sans-serif;
	
}

DIV#wrapper {
	width: 100%;
	height: 100%;
	background-image: "images/gradient.jpg";
	background-repeat: repeat-x;
}

DIV#header {
	width: 100%;
	height: 100px;
	vertical-align: top;
	position: absolute;
	border-bottom: 1px solid black;
	background-image: "images/gradient.jpg";
	background-repeat: repeat-x;
}

DIV#contentwrapper{
	width: 60%;
	height: 100%;
	margin-top: 100px;
	margin-left: 20%;
	position: absolute;
	padding-left: 10%;
	border-right: 1px solid black;
	padding-top: 5%;
}

DIV#menu {
	padding-top: 10%;
	height: 100%;
	width: 10%;
	float: left;
	margin-top: 100px;
	margin-left: 10%;
	position: absolute;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

DIV#menuitem{
	width: 80%;
	padding: 3px;
	border: 1px solid black;
	margin-top: 10%;
	margin-left: 8%;
	text-align: center;
	text-style: bold;
}

DIV#menuitem:hover {
	background-color: black;
	color: white;
}

.text {
	border: 1px solid black;
}

SELECT {
	min-width: 300px;
}