@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: sans-serif;
	background-color: #73c8f9;
}

DIV#wrapper {
	width: 100%;
	height: 100%;
}

DIV#header {
	width: 100%;
	height: 100px;
	vertical-align: top;
	position: fixed;
	background-color: #01253a;
	z-index: 10;
}

DIV#contentwrapper{
	width: 60%;
	height: 100%;
	margin-top: 100px;
	margin-left: 20%;
	position: absolute;
	padding-left: 10%;
	padding-top: 5%;
	z-index: 5;
}

DIV#owlpet {
	background-image: url('../images/buho_2.gif');
	background-repeat: no-repeat;
	background-position: center top;
	width: 100%;
	height: 100%;
}

DIV#menu {
	padding-top: 10%;
	height: 100%;
	width: 10%;
	float: left;
	margin-top: 100px;
	margin-left: 10%;
	position: fixed;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: #406f8a;
	z-index: 20;
}

DIV#menuitem{
	width: 80%;
	padding: 3px;
	margin-top: 10%;
	margin-left: 8%;
	text-align: center;
	text-style: bold;
}

DIV#menuitem:hover {
	background-color: orange;
	color: white;
}

.text {
	border: 1px solid black;
}

SELECT {
	min-width: 300px;
	border: 1px solid black;
}

H3#error {
	color: red;
}

H3#confirm {
	color: green;
}